@media only screen and (max-width: 37.5em) {
	.depenser {
		padding: 0;

		&-contain {
			flex-direction: column;
			margin-top: 20rem;
			padding: 0;
		}

		&-box {
			padding: 2rem;
			gap: 2rem;
			order: 2;
		}

		&-img {
			order: 1;

			&__ill {
				max-width: 240px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&__coca {
				bottom: -18rem;
				left: 19rem;
				transform: scale(0.4);
			}

			&__ill:hover + &__coca {
				display: block;
				animation: 1s ease-out move-circle-depenser-mobile;
			}
		}

		&__heading {
			font-size: 2.4rem;
			margin-top: 16rem;
			max-width: 100%;
		}

		&__description--detail {
			font-size: 1.4rem;
		}
	}
}

@keyframes move-circle-depenser-mobile {
	0% {
		bottom: -10rem;
		left: 19rem;
		transform: scale(0);
	}

	50% {
		transform: scale(0.2) rotate(120deg);
		bottom: -13rem;
		left: 24rem;
	}

	100% {
		bottom: -18rem;
		left: 19rem;
		transform: scale(0.4);
	}
}
