@media only screen and (max-width: 37.5em) {
	.flake {
		&-contain {
			flex-direction: column;
			align-items: center;
			padding: 10rem 2rem 10rem 2rem;
		}

		&-box {
			margin-top: 5rem;
			padding: 0;
		}

		&__heading {
			font-size: 2.4rem;

			&--secondary {
				font-size: 1.6rem;
			}
		}

		&__description {
			font-size: 1.4rem;
		}

		&-img {
			&__ice {
				display: none;
			}

			&__flake {
				max-width: 300px;
			}

			&__seafood {
				bottom: 1rem;
				right: -6rem;
				transform: scale(0.4);
				display: none;
			}

			&__flake:hover + &__seafood {
				display: block;
				animation: 1s ease-out move-circle-flake-mobile;
			}
		}
	}
}

@keyframes move-circle-flake-mobile {
	0% {
		bottom: 7rem;
		right: -6rem;
		transform: scale(0);
	}

	50% {
		transform: scale(0.2) rotate(120deg);
		bottom: 5rem;
		right: -9rem;
		// transform: scale(0.2);
	}

	100% {
		bottom: 1rem;
		right: -6rem;
		transform: scale(0.4);
	}
}
