$color-white: #fff;
$color-white-light: #fdfdfd;
$color-grey-light: #e5e5e5;

$color-black: #000;

$color-blue-dark-2: #13284c;
$color-blue-dark: #043c9c;
$color-blue-light-2: #4762fc;
$color-blue: #3956fb;
$color-blue-light: #5c7392;
$color-blue-light-3: #f3faff;
$color-blue-light-4: #95a4b7;
$color-grey: #b9c4d2;

//FONT-WEIGHT
$font-balck: 900;
$font-super-bold: 800;
$font-bold: 700;
$font-large: 600;
$font-medium: 500;
$font-default: 400;

//FONT-SIZE
$font-size-super-large: 5.4rem;
$font-size-large: 4.5rem;
$font-size-medium: 3.2rem;
$font-size-small-medium: 2.1rem;
$font-size-default: 1.8rem;
$font-size-small: 1.7rem;
$font-size-super-small: 1.4rem;
