.btn {
	&,
	&:link,
	&:visited {
		background-color: $color-white;
		padding: 1.6rem 4.4rem;
		border-radius: 1rem;
		cursor: pointer;
		display: inline-block;
	}

	&--blue {
		background-color: $color-blue-light-2;
		padding: 1.6rem 4.4rem;
	}
}
